.d {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(114, 123, 108);
    border-radius: 10px 10px 0px 0px;
    /* for img */
    overflow: hidden; 
    position: relative;
}

  
/* little browser look, top of the card */
.d-browser {
    height: 20px;
    background-color: rgb(114, 123, 108);
    display: flex;
    align-items: center;
    /* to stop photos overflowing the browser feel */ 
    position: sticky;
    z-index: 2;
}
  
.d-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}
  
/* .container {
    position: relative;
    width: 100%;
} */

.d-img {
    width: 100%;
    height: auto;
    transition: all 10s ease;
}

.d-cta {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 75%;
    left: 25%;
}
  
.d:hover .d-img {
    transform: translateY(-100%);
}
  
.d-btn {
    width: max-content;
    background-color: #fff;
    color: rgb(114, 123, 108);
    padding: .40rem .55rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1.5px solid rgb(114, 123, 108);
    text-decoration: none;
}
  
.d-btn-primary {
    width: max-content;
    padding: .40rem .55rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: rgb(114, 123, 108);
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1028px) {
    .d {
        width: 40%;
        height: 20vh;
    }

    .d-cta {
        display: flex;
        /* gap: 20px; */
        position: absolute;
        top: 75%;
        left: 15%;
        /* right: 2.5%; */
    }
      
    .d-btn-primary {
        margin-left: 15px;
    }
    
}

@media screen and (max-width: 480px) {
    .d {
        width: 40%;
        height: 20vh;
    }

    .d-cta {
        display: flex;
        gap: .50rem;
        position: absolute;
        top: 75%;
        left: 10%;
        font-size: small;
    }

    .d-btn {
        padding: .15rem .25rem;
    }
      
    .d-btn-primary {
        padding: .20rem .25rem;
        margin-left: 5px;
    }
    
}



/* 
gold - rgb(230, 206, 126) 
milk - rgb(243, 242, 242)
green - #59b256
*/